{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Index - {{ parent() }}
{% endblock %}

{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Contact</h1>

    <hr>
{% endblock %}