{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Index - {{ parent() }}
{% endblock %}

{% block titlePage %}
    Accueil
{% endblock %}

{% block body %}

    {#<hr>#}

    <p>
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info">Info : {{ message }}</div>
        {% endfor %}
    </p>

    {#<hr>#}
{% endblock %}