# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    tokenExpiration: 7
    siteName: Platform
    siteUrl: http://platform.servehttp.com
    siteUri: /
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_port: 587
    encryption: tls
    mailer_host: smtp.office365.com
    mailer_user: ~
    mailer_password: ~
    mailer_auth: login

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt


    bootstrap_color: [success,primary,danger,warning,default]
    roleUserAuteur:
        val: ROLE_AUTEUR
        str: Employeur
        color: Success
    roleUserConsultant:
        val: ROLE_SEARCH
        str: Consultant
        color: Primary
    roleModerateur:
        val: ROLE_MODERATEUR
        str: Modérateur
        color: Warning
    roleAdmin:
        val: ROLE_ADMIN
        str: Administrateur
        color: danger
    roleSuperAdmin:
        val: ROLE_SUPER_ADMIN
        str: Super-Administrateur
        color: danger
    roleUser: [%roleUserAuteur%, %roleUserConsultant%]
    security_roles: [%roleUserAuteur%, %roleUserConsultant%, %roleModerateur%, %roleAdmin%, %roleSuperAdmin%]