services:
#    oc_platform.example:
#        class: OC\PlatformBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]

    oc_platform.antispam:
        class: OC\PlatformBundle\Antispam\OCAntispam
        arguments:
            - "@mailer"
            - 50
        calls:
            - [ setLocale, [%locale%] ]

    oc_platform.service.service:
        class: OC\PlatformBundle\Service\OCService
        arguments:
           - "@mailer"

    oc_platform.service.deleteAdvert:
        class: OC\PlatformBundle\Service\OCDeleteOldAdvert
        arguments:
          - "@doctrine.orm.entity_manager"

    oc_platform.doctrine_listener.application_creation:
        class: OC\PlatformBundle\DoctrineListener\ApplicationCreationListener
        arguments:
            - "@oc_platform.service.service"
        tags:
            - { name: doctrine.event_listener, event: postPersist }


    oc_platform.twig.antispam_extension:
        class: OC\PlatformBundle\Service\Twig\AntispamExtension
        arguments:
            - "@oc_platform.antispam"
        tags:
            - { name: twig.extension }


    oc_platform.form.ckeditor:
        class: OC\PlatformBundle\Form\Type\CkeditorType
        tags:
            - { name: form.type, alias: ckeditor }


#    oc_platform.beta.html_adder:
#        class: OC\PlatformBundle\Service\BetaHTMLAdder
#
#
#    oc_platform.beta.listener:
#        class: OC\PlatformBundle\Listener\BetaListener
#        arguments:
#            - "@oc_platform.beta.html_adder"
#            - "2017-08-01"
#        tags:
#            - { name: kernel.event_listener, event: kernel.response,   method: processBeta }

    app.form.type.custom_element:
        class: OC\PlatformBundle\Form\Type\AdverType
        arguments:
            - "@doctrine.orm.entity_manager"
        tags:
            - { name: form.type, alias: elementCustom }

    oc_platform.paramconverter.json:
        class: OC\PlatformBundle\ParamConverter\JsonParamConverter
        tags:
            - { name: request.param_converter }