{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Réinitialisation - {{ siteName }}
{% endblock %}

{% block titlePage %}
    Mot de passe oublié
{% endblock %}

{% block body %}
    <a href="{{ path('oc_core_homepage') }}">Retour</a>
    <div class="alert alert-info">Info : {{ message|raw }}</div>
{% endblock %}
