

<a href="{{ path('oc_platform_tag', {'id': _cat.id}) }}#{{ _cat.id }}" style="padding: 0 2px;">
    <span class="label label-{{ bootstrap_color[_cat.id%(bootstrap_color|length - 1)] }}">
        {{ _cat.name }}
    </span>
</a>