{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Modifier - {{ parent() }}
{% endblock %}

{% block titlePage %}
    Modifier "{{ advert.title }}"
{% endblock %}

{% block ocplatform_body %}

    <p>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="Tiny material-icons">arrow_back</i> <span>Retour</span>
        </a>
    </p>

    {{ include("OCPlatformBundle:Advert:utils/form.html.twig") }}


{% endblock %}
