body { padding-top: 60px; }

.title-head {
    font-size: 40px;
    color: #44968f;
    font-family: fantasy;
    padding: 0 5px;
    text-transform: uppercase;
    width: 240px;
    display: block;
    text-align: center;
    border-right: solid 1px #272b30;
}

#menu #slide-out {
    margin-top: 65px;
    width: 240px;
    max-width: 240px;
    overflow: hidden;
    height: calc(100% - 65px);
    background-color: #272b30;
    padding: 0 5px;
}
#menu #slide-out:hover {
    overflow: overlay;
}
.button-collapse {
    display: none;
}

.dropdown-content {
    background-color: #272b30;
    transition: none;
}
.dropdown-content a:hover, .dropdown-content li:hover {
    color: #967d44;
    background-color: #3d4248;
    transition: none;
    text-decoration: none;
}

.dropdown-button i {
    padding: 0 10px;
    float: right;
}

.dropdown-button {
    border-left: solid 1px #272b30;
}

.dropdown-button:hover {
    text-decoration: none;
    color: #c8c8c8;
}

.dropdown-button:focus,.dropdown-button:active {
    text-decoration: none;
}

.user-dropdown {
    color: #c0cadd;
    background-color: #585e65;
}

header, main, footer, .container {
    padding-left: 255px;
}

@media only screen and (max-width : 992px) {
    header, main, footer, .container {
        padding-left: 15px;
    }
    .button-collapse {
        display: initial;
        padding-right: 18px;
        border-right: solid 1px #272b30;
    }
    .title-head {
        border-right: none;
    }
}

.menu-span {
    text-align: center;
    margin: 5px 0 5px 0;
    text-transform: uppercase;
    font-size: 10px;
    color: #c0cadd;
    font-weight: bold;
    font-family: 'Open Sans','Verdana';
    text-align: center;
}
ul.nav li a {
    color: #44968f;
    font-family: fantasy;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 15px;
}

ul.nav li a:hover {
    color: #967d44;
}

input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    opacity: 1;
}

input.form-control {
    color: #c0cadd;
}
input.form-control:focus {
    color: #00a29b;
}

select.form-control, textarea.form-control {
    background-color: #272b30;
    color: #c0cadd;
}
select.form-control:focus, textarea.form-control:focus {
    color: #00a29b;
    border-color: #00a29b;
}

.collection .collection-item.avatar {
    min-height: 65px;
    background-color: #33373c;
}

.well.title-page {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Open Sans','Verdana';
    font-size: 25px;
}

.img-advert-170px {
    height: 170px;
}

.imgadvert {
    float: left;
    margin: 10px;
}

.container .btn, .container .btn i, i {
    display: inline-flex;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.detailAdvert {
    overflow: hidden;
    margin-top: 10px;
}

#menu {
    padding-right: 0;
    min-width: 200px;
}

.notif-number {
    background-color: #fa3e3e;
    text-align: center;
    color: #fff;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
    min-height: 13px;
    min-width: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

#menu hr {
    margin: 10px;
}

#menu i {
    margin: 0px 22px 0 0;
    color: rgba(230, 100, 100, 0.54);
}

.pagination {
    margin: 0;
}
.pagination li a {
    color: #FFF;
}

.brand-logo:hover, .brand-logo:active, .brand-logo:focus {
    text-decoration: none;
}